.hero-wrapper {
  background-color: var(--primary-color);
}

@media (min-width: 1025px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    height: 105vh;
    background-image: url("/hero/hero-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -40px -1px;
  }
}

.hero-container {
  padding: 4.7rem 0 0 0;
  max-width: 1200px;
  display: flex;
  align-items: top;
  justify-content: center;
  box-sizing: border-box;
}

/* heor left  */

.hero-left {
  flex: 1;
  padding: 2rem;
}

.hero-left {
  display: grid;
  grid-template-columns: repeat(3, 96px);
  gap: 2rem;
  justify-content: center;
}

.img-container {
  width: 100%;
  height: 240px;
  border-radius: 999px;
  overflow: hidden;
}

.img-bg {
  border-radius: 999px;
  width: 100%;
  height: 100%;
}

.img-outer {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-img {
  object-fit: cover;
  margin-top: 2.1rem;
  transform: scale(1.2);
  overflow: hidden;
  border-radius: 999px;
}

/* hero right  */

.hero-right {
  flex: 1.4;
}

.hero-title {
  display: grid;
}

.hero-title span {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 6rem;
}

.hero-title :nth-child(1) {
  color: var(--third-color);
}

.hero-title :nth-child(2) {
  color: var(--third-color);
}

.hero-title :nth-child(3) {
  color: #fff;
}

.hero-description p {
  font-size: 1.4rem;
  color: #fff;
  line-height: 2rem;
  margin: 1rem 0;
}

/* Media queries for responsiveness */

@media (min-width: 1025px) and (max-width: 1109px) {
  .hero-title span {
    font-size: 3.6rem;
    font-weight: 800;
    line-height: 5.5rem;
  }
}

@media (max-width: 1024px) {
  .container {
    height: auto;
  }
  .hero-container {
    flex-direction: column;
  }
  .hero-right {
    display: grid;
    justify-items: center;
  }
  .hero-title span {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 4rem;
    text-align: center;
  }
  .hero-description p {
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
    margin: 1rem auto 0 auto;
  }
}
