.bv-wrapper {
  width: 100%;
  position: relative;
}

.bv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  margin-top: -8rem;
  position: relative;
}

.brandingVideo {
  border-radius: 4rem;
  width: 95%;
  position: relative;
}

@media (max-width: 1200px) {
  .bv-container {
    max-width: 960px;
  }
}

@media (max-width: 1024px) {
  .bv-container {
    margin-top: 1rem;
  }
}

@media (max-width: 998px) {
  .bv-container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .bv-container {
    max-width: 540px;
  }

  .brandingVideo {
    border-radius: 2rem;
    width: 95.5%;
  }
}
