:root {
  --dark-bg: #000;
  --light-bg: #f6f7fb;
  --primary-color: #533fd7;
  --secondary-color: #00cafb;
  --third-color: #54f3a6;
  --fourth-color: #fee590;
  --text-color: #867eb5;
  --text-secondary: #544b92;
  --text-color-dark: #12183f;
  --text-color-light: #fcf3d4;
  --title-color: #221577;
  --border-color: #6a55f8;
  --border-color-dark: #27263a;
  --border-color-light: #6a55f8;
  --shadow: 10px 12px 48px rgba(181, 187, 203, 0.206);
}

body {
  margin: 0;
  padding: 0;
}

.tag {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 700;
}

.title {
  color: var(--title-color);
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 3.5rem;
}

.des {
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.text {
  color: var(--text-color);
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.sec-title {
  font-size: 2rem;
  color: var(--title-color);
  font-weight: 600;
  text-align: center;
  line-height: 3rem;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.2rem;
  }

  .des {
    font-size: 1.2rem;
  }

  .sec-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 1.8rem;
  }

  .sec-title {
    font-size: 1.6rem;
  }
}
